<h1>Morais CRUD Web</h1>

<div class="row" *ngIf="modo === ModoTela.Listar">
  <div class="form-group col-md-3">
    <button id="criar-cliente-button" class="botao-padrao" (click)="habilitarEdicaoCliente(undefined)">NOVO
      CLIENTE</button>
  </div>

  <div class="form-group col-md-3">
      <button id="criar-cliente-button" class="botao-padrao" (click)="buscarClientes()">ATUALIZAR</button>
    </div>
</div>

<ng-container *ngIf="modo === ModoTela.Listar">
  <app-lista-clientes [clientes]="clientes" (editar)="habilitarEdicaoCliente($event)"></app-lista-clientes>
</ng-container>
<ng-container *ngIf="modo === ModoTela.Manutencao">
  <app-manutencao-cliente [cliente]="cliente" (voltar)="mostrarLista()"></app-manutencao-cliente>
</ng-container>
