<div *ngIf="novoCliente else edicao">
  <h2>Criar Cliente</h2>
</div>
<ng-template #edicao>
  <h2>Alterar Cliente</h2>
</ng-template>

<div *ngIf="novoCliente else editarCliente">
  <div class="row">
    <div class="radios col-md-2">
      <label for="tipSacador" class="tit-box">Tipo de Pessoa</label>
      <div id="tipSacador" class="box-radios" [ngClass]="{'box-radios-disable':sacadorProrio}">
        <input type="radio" id="in1" name="tipo-pessoa" [(ngModel)]="criarCliente.TipoPessoa" [value]="TipoPessoa.PF"
          (change)="trocaTipoDocumento()">
        <label for="in1" class="mBox" ng>PF</label>
        <input type="radio" id="in2" name="tipo-pessoa" [(ngModel)]="criarCliente.TipoPessoa" [value]="TipoPessoa.PJ"
          (change)="trocaTipoDocumento()">
        <label for="in2" class="mBox">PJ</label>
      </div>
    </div>

    <div class="col-md-3 centralizar">
      <label class="form-label text-left">{{ nomeDocumento }}</label>
      <input id="documento-input" class="form-control"
        [appMascaraDocumento]="criarCliente.TipoPessoa == undefined ? 'PF' : criarCliente.TipoPessoa" type="text"
        name="" value="" [(ngModel)]="criarCliente.Documento">
    </div>

    <div class="col-md-6 centralizar">
      <label class="form-label text-left">Nome</label>
      <input id="documento-input" class="form-control" type="text" name="" value="" [(ngModel)]="criarCliente.Nome">
    </div>

    <div class="col-md-6 centralizar">
      <label class="form-label text-left">Endereço</label>
      <input id="documento-input" class="form-control" type="text" name="" value="" [(ngModel)]="criarCliente.Endereco">
    </div>

    <div class="col-md-3 centralizar">
      <label class="form-label text-left">Email</label>
      <input id="documento-input" class="form-control" type="text" name="" value="" [(ngModel)]="criarCliente.Email">
    </div>
  </div>
</div>

<ng-template #editarCliente>
  <div class="row">
    <div class="radios col-md-2">
      <label for="tipSacador" class="tit-box">Tipo de Pessoa</label>
      <div id="tipSacador" class="box-radios" [ngClass]="{'box-radios-disable':sacadorProrio}">
        <input type="radio" id="in1" name="tipo-pessoa" [(ngModel)]="cliente.TipoPessoa" [value]="TipoPessoa.PF"
          (change)="trocaTipoDocumento()">
        <label for="in1" class="mBox" ng>PF</label>
        <input type="radio" id="in2" name="tipo-pessoa" [(ngModel)]="cliente.TipoPessoa" [value]="TipoPessoa.PJ"
          (change)="trocaTipoDocumento()">
        <label for="in2" class="mBox">PJ</label>
      </div>
    </div>

    <div class="col-md-3 centralizar">
      <label class="form-label text-left">{{ nomeDocumento }}</label>
      <input id="documento-input" class="form-control"
        [appMascaraDocumento]="cliente.TipoPessoa == undefined ? 'PF' : cliente.TipoPessoa" type="text" name="" value=""
        [(ngModel)]="cliente.Documento">
    </div>


    <div class="col-md-6 centralizar">
      <label class="form-label text-left">Nome</label>
      <input id="documento-input" class="form-control" type="text" name="" value="" [(ngModel)]="cliente.Nome">
    </div>

    <div class="col-md-6 centralizar">
      <label class="form-label text-left">Endereço</label>
      <input id="documento-input" class="form-control" type="text" name="" value="" [(ngModel)]="cliente.Endereco">
    </div>

    <div class="col-md-3 centralizar">
      <label class="form-label text-left">Email</label>
      <input id="documento-input" class="form-control" type="text" name="" value="" [(ngModel)]="cliente.Email">
    </div>
  </div>
</ng-template>


<div class="row row-buttons">
  <div class="col-md-3" *ngIf="novoCliente else botaoSalvar">
    <button id="salvar-cliente-button" class="botao-padrao" (click)="criar()">CRIAR</button>
  </div>
  <ng-template #botaoSalvar>
    <div class="col-md-3">
      <button id="salvar-cliente-button" class="botao-padrao" (click)="salvar()">SALVAR</button>
    </div>
  </ng-template>
  <div class="col-md-2">
    <button id="voltar-button" class="botao-padrao" (click)="voltarLista()">VOLTAR</button>
  </div>
</div>
