<div>
  <div class="row">
    <div class="col-md-12">
      <h3>Clientes</h3>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Documento</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let cliente of clientes">
        <tr>
          <td>{{cliente.Documento | documento}}</td>
          <td>{{cliente.Nome}}</td>
          <td>{{cliente.Endereco}}</td>
          <td>{{cliente.Email}}</td>
          <td>
            <img class="ico" (click)="editarCliente(cliente)" src="assets/images/edit.svg" alt="" data-toggle="Editar"
              data-placement="top" title="Editar">
            <img class="ico" (click)="excluirCliente(cliente.Id)" src="assets/images/delete.svg" alt=""
              data-toggle="Deletar" data-placement="top" title="Deletar">
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
