<div>
  <div class="row">
    <div class="col-md-12">
      <h3>Clientes</h3>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Documento</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let cliente of clientes">
        <tr>
          <td>{{cliente.Documento | documento}}</td>
          <td>{{cliente.Nome}}</td>
          <td>{{cliente.Endereco}}</td>
          <td>{{cliente.Email}}</td>
          <td>
            <button id="editar-button" (click)="editarCliente(cliente)">Editar</button>
            <button id="excluir-button" (click)="excluirCliente(cliente.Id)">Excluir</button>

          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
