@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

h1 {
  font-weight: 600;
  color: #34808c;
  text-transform: uppercase;
  font-size: 36px;
}

h1, h2, h3, h4 {
  font-family: 'Signika', sans-serif;
}

h3 {
  height: 40px;
  border-radius: 2px;
  background-color: #34808c;
  margin-top: 10px;
  color: #FFF;
  padding: 10px 0 0 20px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  line-height: normal;
  border-top: 1px solid #f2f2f2;
  padding: 10px 10px;
}

.row-buttons {
  margin-top: 15px;
}


.box-radios {
  background: #FFF;
  display: inline-block;
  box-shadow: 0 1px 1px 0 rgba(143, 147, 173, 0.59);
  height: 30px !important;
}

.box-radios > input[type="radio"]:checked + label {
  background: #addee6;
  border-bottom: 2px solid #34808c;
}

.box-radios input {
  display: none;
}

.box-radios label {
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
}

.box-radios label:hover, .box-radios label:focus {
  background: #f5f8fc;
  border-bottom: 2px solid #34808c;
}

.radios {
  float: left;
  padding: 0 15px 0 15px;
}


.botao-padrao {
  border-radius: 2px;
  background-color: #34808c;
  -webkit-box-shadow: 0 1px 1px 0 rgba(143, 147, 173, 0.59);
  box-shadow: 0 1px 1px 0 rgba(143, 147, 173, 0.59);
  color: #FFF;
  width: 70%;
  height: 35px;
  border: #34808c;
  font-weight: 700;
  border-radius: 5px;
}

.ico {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  width: 20px;
}
