@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

h1 {
  font-weight: 600;
  color: #34808c;
  text-transform: uppercase;
  font-size: 36px;
}

h1, h2, h3, h4 {
  font-family: 'Signika', sans-serif;
}

h3 {
  height: 40px;
  border-radius: 2px;
  background-color: #34808c;
  margin-top: 10px;
  color: #FFF;
  padding: 10px 0 0 20px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  line-height: normal;
  border-top: 1px solid #f2f2f2;
  padding: 10px 10px;
}

.row-buttons {
  margin-top: 15px;
}
